.Rproj.user
.Rhistory
.RData
.Ruserdata
.commuter_rail.json
.funkcne UI.R"
                                     
.jarky.cpg               
.jarky.dbf               
.jarky.prj               
.jarky.qpj                
.jarky.shp               
.jarky.shx                              
.lokalizacia.cpg          
.lokalizacia.dbf         
.lokalizacia.prj         
.lokalizacia.qpj        
.lokalizacia.shp          
.lokalizacia.shx         
.New Text Document.txt    
.parametreOdMisaxlsx.xlsx 
.pingy.cpg               
.pingy.dbf               
.pingy.prj               
.pingy.qpj                
.pingy.shp               
.pingy.shx             
.polyline.dbf             
.polyline.prj            
.polyline.shp             
.polyline.shx            
.Screenshot_1.png                      
.shapes.rds              
.stolne.cpg               
.stolne.dbf               
.stolne.prj               
.stolne.qpj              
.stolne.shp               
.stolne.shx              
.stolne_body.dbf          
.styles.css              
.tajchy.csv               
.tajchy.qgd               
.tajchy.qgs              
.tajchy.qgs~             
.Tajchy.Rproj            
.tajchy_historiske.cpg   
.tajchy_historiske.dbf    
.tajchy_historiske.prj   
.tajchy_historiske.qpj    
.tajchy_historiske.shp    
.tajchy_historiske.shx    
.tajchy_idea.cpg        
.tajchy_idea.dbf         
.tajchy_idea.prj         
.tajchy_idea.qpj         
.tajchy_idea.shp        
.tajchy_idea.shx          
.tajchy_tab.cpg           
.tajchy_tab.dbf           
.tajchy_tab.prj        
.tajchy_tab.qpj           
.tajchy_tab.shp           
.tajchy_tab.shx           
.Tajchyrek.doc           
.vodneStolne     
.vodneStolne.cpg       
.vodneStolne.dbf         
.vodneStolne.prj          
.vodneStolne.qpj          
.vodneStolne.shp          
.vodneStolne.shx                        
.funkcne UI.R
.zalohaSever.R